/* icon list: */

.InputfieldIconSelect-icons {
    width:600px;
    overflow: hidden;
    margin-top:1em;
}

.InputfieldIconSelect-icons img {
    cursor: pointer;
    float: left;
    margin:0px 24px 24px 0px;
}
